[submodule "vendor/roact"]
	path = vendor/roact
	url = git://github.com/Roblox/roact.git
[submodule "vendor/rodux"]
	path = vendor/rodux
	url = git://github.com/Roblox/rodux.git
[submodule "vendor/roact-rodux"]
	path = vendor/roact-rodux
	url = git://github.com/Roblox/roact-rodux.git
